<nav *ngIf="user" class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ng-container *ngIf="user.rol == 0; then thenTemplate; else elseTemplate"></ng-container>
    <ng-template #thenTemplate>
        <ul class="list-group">
            <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'dashboard' | translate }}
            </a>
            <a [routerLink]="['/tournaments']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-th-list"></i>&nbsp;{{ 'Torneos' | translate }}
            </a>
            <a [routerLink]="['/leagues']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-trophy"></i>&nbsp;{{ 'Ligas' | translate }}
            </a>
            <a [routerLink]="['/teams']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-address-book"></i>&nbsp;{{ 'Equipos' | translate }}
            </a>
            <a [routerLink]="['/matches']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-futbol-o" aria-hidden="true"></i>&nbsp;{{ 'Juegos' | translate }}
            </a>
            <a [routerLink]="['/players']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-users" aria-hidden="true"></i>&nbsp;{{ 'Jugadores' | translate }}
            </a>
        </ul>
    </ng-template>
    <ng-template #elseTemplate>
        <ul class="list-group">
            <a [routerLink]="['/teams']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-address-book"></i>&nbsp;{{ 'Equipos' | translate }}
            </a>
        </ul>
    </ng-template>
</nav>
