<div *ngIf="team" [@routerTransition]>
    <md-tab-group>
        <md-tab>
            <ng-template md-tab-label>
                Perfil
            </ng-template>
            <br><br>
            <div class="row">
                <div class="col-9">
                    <h1>{{team.title}}</h1>
                </div>
                <div class="col-4"><img class="md-card-image example-header-image" style="width:150px; height:150px;" onerror="this.src='./assets/images/none.png'"
                        [src]="team.imageUrl" alt="user avatar"></div>
                <div class="col-6">
                        <button class="btn btn-primary" (click)="open(content2)">Escoger Liga</button>
                    <hr>

                    <h4>Ligas en las que participa</h4>
                    <div *ngFor="let l of leagues" class="row">
                        <md-slide-toggle disabled=disabled [checked]="team.leagues[l.$key]">
                            {{l.title}}
                        </md-slide-toggle>
                    </div>
                </div>
            </div>
        </md-tab>
        <md-tab>
            <ng-template md-tab-label>
                Jugadores
            </ng-template>
            <br><br>
            <div class="row">
                <button class="btn btn-primary" (click)="open(content)">Agregar Jugador</button>
            </div>
            <hr>
            <div class="row align-items-start">
                <div class="col box">
                    <h3>Jugadores del equipo {{team.title}}</h3>
                    <div class="row align-items-start">
                        <md-card class="cardPlayer" *ngFor="let p of players">
                            <app-player-item2 [player]=p></app-player-item2>
                        </md-card>
                    </div>
                </div>
            </div>
        </md-tab>
    </md-tab-group>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <app-player-form (playerEmit)="playerCreated($event)"></app-player-form>
</ng-template>

<ng-template #content2 let-c="close" let-d="dismiss">
       <h2>Escoger Liga</h2>
       <ul *ngFor="let item of leaguesAvaible">
           <li><button class="btn btn-primary" (click)="pickLeague(item.$key)" >Seleccionar</button>  <b>{{item.title}} </b>  </li>
       </ul>
</ng-template>
