.example-card {
  width: 350px;
  height: 100px;
  padding: 10px; 
}

.example-card img{
  max-width: 50px;
  max-height: 50px;
  float: left;
  padding-top: 10px;
}

.example-card h2{
  padding-top: 5px;
  font-size: 1.5em;
  text-align: center;
}

.example-header-image {
  background-size: cover;
}

md-card-title.mat-card-title{
  font-size: 20px;
  color: #2e509e;
}

img.md-card-image.example-header-image{
  vertical-align: middle;
  /*max-height: 100px;*/
  margin: 0 auto;
  margin-top: 10px;
}