<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/favicon.ico" width="150px" class="user-avatar" />
            <h1>La canchita Admin</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" id=""  [ngModelOptions]="{standalone: true}" [(ngModel)]="model.email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id=""  [ngModelOptions]="{standalone: true}" [(ngModel)]="model.pass" placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn"  (click)="loginwithemail()"> Log in </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
                <a class="btn loginmodal-submit" (click)="login()"><i class="fa fa-google-plus-official fa-2x" aria-hidden="true"></i></a>
            </form>
        </div>
    </div>
</div>
