.card-style { 
 margin: 1cm 1cm 1cm 1cm;
}

.card-style img{
 vertical-align: middle;
 max-height: 100px;
 margin: 0 auto;
 margin-top: 10px;
}

 .card-style h4{
  font-size: 2rem;
  text-align: center;
 }

 